html, body {
  background: #fff;
  color: #2B3C4B;
  font-family: "Glegoo", serif;
  font-weight: normal;
  letter-spacing: 0.05em;
  font-size: 14px;
  height: 100%;
  position: relative;
}

a {
  color: #e71d36;
  text-decoration: none;
}

a:hover {
  color: #d4172e;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flexbox.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexbox.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexbox.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexbox.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flexbox.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.flexbox .flex-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

/* -- Animation -- */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.btn {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 2px;
  background: #fff;
  color: #e71d36;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  letter-spacing: 0.07em;
}

.btn:hover, .btn:active, .btn:focus {
  background: #F6F7F9;
  color: #d4172e;
}

.btn-primary {
  color: #fff;
  background: #e71d36;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: #d4172e;
  color: #fff;
}

.btn-secondary {
  color: #fff;
  background: #454c52;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background: #393f44;
  color: #fff;
}

.btn-disabled {
  color: #69727f;
  background: #babfc6;
  cursor: default;
}

.btn-disabled:hover, .btn-disabled:active, .btn-disabled:focus {
  color: #69727f;
  background: #babfc6;
}

.notice {
  background: #f2f3f4;
  color: #2B3C4B;
  padding: 20px 30px;
  border-radius: 4px;
  letter-spacing: 0.07em;
}

.notice.notice-secondary {
  background: #d6d9dd;
  color: #2B3C4B;
}

.notice.notice-dark {
  background: #454c52;
  color: #fff;
}

.section {
  min-height: 500px;
  padding: 80px 20px;
  background: #fff;
}

.section .section-title {
  font-size: 32px;
  font-weight: normal;
  color: #69727f;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.main {
  background: #011627;
  color: #babfc6;
  min-height: 500px;
  overflow: hidden;
}

.header {
  padding: 70px 20px 0 20px;
}

.header .intro {
  width: 60%;
}

.logo h1, .logo h1 > a {
  font-family: "Julius Sans One", sans-serif;
  font-size: 42px;
  letter-spacing: 0em;
  color: #fff;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.4em;
  text-transform: uppercase;
}

.logo h2 {
  font-size: 24px;
  color: #e71d36;
  margin-top: 0;
  font-weight: normal;
  letter-spacing: 0.05em;
}

.intro .description {
  line-height: 2em;
  color: #babfc6;
}

.actions {
  margin-top: 20px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.actions .btn:first-child {
  margin-right: 10px;
  margin-bottom: 5px;
}

.links a {
  color: #5E729B;
  padding: 0 10px;
}

.links a:hover, .links a:focus, .links a:hover {
  color: #4A67A1;
}

.links .divider {
  color: #3E5466;
}

.hero {
  margin-top: 35px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
}

.hero > img {
  width: 100%;
  max-width: 100%;
  margin-bottom: -9px;
}

.feature-boxes {
  margin-bottom: 15px;
}

.feature-box {
  text-align: center;
  background: #f2f3f4;
  padding: 50px 30px;
  display: block;
  margin: 15px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.feature-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.feature-box:hover > img {
  -webkit-filter: grayscale(0) contrast(100%) brightness(100%);
          filter: grayscale(0) contrast(100%) brightness(100%);
  opacity: 1;
}

.feature-box:first-child {
  margin-left: 0;
}

.feature-box:last-child {
  margin-right: 0;
}

.feature-box .feature-box-title {
  font-size: 1.5em;
  margin: 15px 0;
}

.feature-box > img {
  width: 100px;
  -webkit-filter: grayscale(1) contrast(70%) brightness(60%);
          filter: grayscale(1) contrast(70%) brightness(60%);
  opacity: 0.9;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.feature-box .feature-box-details > .btn {
  padding: 8px 40px;
}

.section-about {
  background: #f2f3f4;
  min-height: auto;
  text-align: justify;
}

.section-about .about-details {
  font-size: 16px;
  line-height: 2.5em;
  max-width: 750px;
  width: 100%;
  margin: auto;
}
