# Gradle
.gradle/
build/

# Maven build output folder
/target/

# IntelliJ project folder
intellij/
.idea/
*.iml
gradle.properties
local.properties

# Package Files #
*.jar
*.war
*.ear

# exclude out
/out