# Gradle
.gradle/
build/

# Main
src/main/java/eloquent/Main.java

# Maven build output folder
/target/

# IntelliJ project folder
intellij/
.idea/
*.iml
gradle.properties
local.properties

# Package Files #
*.jar
*.war
*.ear
*.ipr
*.iws

# exclude out
/out