.section {
    min-height: $section-min-height;
    padding: 80px 20px;
    background: $section-bg;
    .section-title {
        font-size: 32px;
        font-weight: normal;
        color: darken($color-base-secondary, 30%);
        margin-top: 0px;
        margin-bottom: 50px;
        text-align: center;
    }
}